# Ignore IDE files
*.iml
.idea/
.DS_Store

# Ignore Gradle files
.gradle/
local.properties

# Ignore build output
/build/
app/build/
.externalNativeBuild/
.cxx/

# Ignore captures and generated assets
/captures/

# Ignore media files
*.mp4
*.avi
*.mov

# Ignore binary artifacts
*.apk
*.aab
*.dex
*.class
*.so

# Ignore miscellaneous
*.log
